:root {
  --main-background: #FFEFD5;
  --label-background: white;
  --selected-color: blue;
}

* {
  box-sizing: border-box;
}

body {
  margin: 2vh;
  background-color: var(--main-background);
  /* background-image: url(./imgs/background-img.svg); */
  background-size: 6rem;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";;
  font-size: 1.25rem;
}

.stack > * + *{
  margin-top: 1.5rem;
}

.stack-small > * + *{
  margin-top: 0.5rem;
}

.stack-small > * {
  margin-bottom: 0rem;
}

.o-bwText__header{
  width: max-content;
}

.o-bwText{
  background-color: black;
  color: white;
  padding: 1rem;
  max-width: 60ch;
}

.o-bwText__bodyText{
  line-height: 3rem;
}

.o-bwText__listHolder{
  padding-left: 3rem;
}

.o-bwText__listItem{
  
}

.o-bwText__link{
  color: white;
}

.o-bwText__link:hover{
  color: #ccc;
}

.o-button{
  padding: 0.75em 1em;
  font-size: 1.25em;
  background-color: var(--selected-color);
  border: transparent none 0;
  border-radius: 0.5rem;
  color: white;
  font-weight: 600;
}

.o-button:hover{
  cursor: pointer;
  background-color: darkblue;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-grow: 1;
}

fieldset div input,
fieldset div label {
  grid-column: 1 / span 1;
  grid-row: 1 / span 1;
  background-color: var(--label-background);
}



fieldset label svg{
  margin: auto 0;
}

.hidden {
  display: none;
}

.mt-0{
  margin-top: 0;
}

.mb-0{
  margin-bottom: 0;
}

.card{
  max-height: 15rem;
  max-width: 15rem;
}

.textsize-small{
  height: 2.5rem;
}

.textsize-medium{
  height: 3.75rem;
} 

.textsize-large{
  height: 5.625rem;
}  

.textsize-xlarge{
  height: 8.4rem;
}

.flex-center{
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-column{
  flex-direction: column;
}

.form-questionHolder{
  display: flex;
  flex-direction: column;
  max-width: 80rem;
  width: 100%;
  border: 0 none;
}

.form-questionHolder-inputStack{
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  width: 15rem;
  min-width: 15rem;
  max-width: 15rem;
  margin: 0 auto 0 0.5rem;
}

.form-questionHolder > .form-questionHolder-inputStack + .form-questionHolder-inputStack{
  margin-top: 1rem;
}

.form-questionHolder-optionHolder{
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  border-radius: 0.5rem;
  font-size: 1.25rem;
  font-weight: 700;
  border: 0.2rem solid #C38728;
  cursor: pointer;
}

.form-questionHolder-optionDesc{
  padding: 0.75rem 0.5rem;
  display: block;
  text-align: left;
}

.form-questionHolder-displayText{
  font-size: 0.75rem;
  padding: 1rem;
  text-align: left;
}

.form-fieldsetLegend{
  background-color: black;
  color: white;
  padding: 0.5rem 1rem;
  font-weight: 600;
}

.form-fieldsetLengend-additionalInfo{
  display: block;
  font-size: 1rem;
  font-weight: 400;
}

.example-cards{
  border: 0 none;
  font-size: 0.75rem;
  padding: 1rem;
}

fieldset div input:checked+label {
  background-color: var(--selected-color);
  color: white;
  border: 0 none;
}

fieldset div input:checked+label span:after {
  content: "✅";
  padding: 0 0 0 0.5rem;
}

fieldset div input:checked+label svg[class*="textsize"] path{
  fill: white;
}

.l-page__grid{
  display: flex;
  flex-direction: row;
}

.l-liveView{
  width: 60vw;
}

.c-browser{
  display: grid;
  height: 70vh;
  background-color: white;
  grid-template-columns: 1fr;
  grid-template-rows: 2rem 2rem 1fr;
  grid-template-areas: "browsernav"
                       "shopnav"
                       "browserdisplay";
  border: 1px solid black;
  border-radius: 0.5rem;
  box-shadow: 9px 13px 0px rgba(0, 0, 0, 0.04);
}

.c-shopNav{
  grid-area: shopnav;
  background-color: #89699D;
}

.c-shopNav__title{
  color: white;
  font-weight: bold;
  margin: 0 auto;
  line-height: 2rem;
  width: max-content;
  font-size: 0.8rem;
}

.c-shopNav__menu{
  color: white;
  margin: 0 auto;
  line-height: 2rem;
  width: max-content;
  font-size: 0.8rem;
  position: relative;
  top: -2rem;
  margin: 0 2rem 0 auto;
}

.c-shopDisplay{
  grid-area: browserdisplay;
  display: grid;
  grid-template-columns: auto 1fr auto;
  grid-template-rows: repeat(3, auto);
  grid-template-areas: "topleft topimage topright"
                       "leftimage content rightimage"
                       "bottomleft bottomimage bottomright";
  height: 100%;
  overflow-x: hidden;
  overflow-y: scroll;
}

.c-shopDisplay__bodyText{
  grid-area: content;
  display: none;
  padding: 1rem;
}

.o-circle{
  border-radius: 100%;
}

.c-shopDisplay__button{
  display: inline-block;
  height: 0.75rem;
  width: 0.75rem;
}

.c-shopDisplay__button--colour-red{
  background-color: #ff5858;
}

.c-shopDisplay__button--colour-yellow{
  background-color: #fbd335;
}

.c-shopDisplay__button--colour-green{
  background-color: #3db13d;
}

.c-shopDisplay__browserNav{
  grid-area: browsernav;
  background-color: #0e1319;
}

.c-shopDisplay__addressBar{
  display: inline-block;
  color: white;
  background-color: #3d4954;
  padding: 0.2rem 2rem 0.2rem 2rem;
  border-radius: 1rem;
  font-size: 0.8rem;
  margin: auto auto auto 10%;
  width: 60%;
}

.c-shopDisplay__buttonHolder{
  display: inline-block;
  margin: 0.1rem 0 0 0.5rem;
}

.c-shopDisplay__iconHolder{
  height: 1.2rem;
  width: 1.2rem;
  border-radius: 100%;
  background-color: #3d4954;
  margin: -1.3rem 0.5rem auto auto;
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.c-shopDisplay__userIcon{
  height: 0.75rem;
}

.c-shopDisplay__bodyText--size-small{
  font-size: 12px;
  display: block;
}

.c-shopDisplay__bodyText--size-medium{
  font-size: 16px;
  display: block;
}

.c-shopDisplay__bodyText--size-large{
  font-size: 20px;
  display: block;
}

.c-shopDisplay__bodyText--size-xlarge{
  font-size: 24px;
  display: block;
}

.c-shopDisplay__heading{
  font-size: 1.2em;
}

.c-shopDisplay__heading2{
  font-size: 1.1em;
}

.c-shopDisplay__paragraph{
  font-size: 1em;
}

.c-shopDisplay__additionalInfo{
  font-size: 1em;
  display: none;
}

.c-shopDisplay__additionalInfo.c-shopDisplay__additionalInfo--text,
.c-shopDisplay__additionalInfo.c-shopDisplay__additionalInfo--text .c-shopDisplay__additionalInfo--text,
.c-shopDisplay__additionalInfo.c-shopDisplay__additionalInfo--bullets,
.c-shopDisplay__additionalInfo.c-shopDisplay__additionalInfo--bullets  .c-shopDisplay__additionalInfo--bullets,
.c-shopDisplay__additionalInfo.c-shopDisplay__additionalInfo--mixed,
.c-shopDisplay__additionalInfo.c-shopDisplay__additionalInfo--mixed  .c-shopDisplay__additionalInfo--mixed,
.c-shopDisplay__additionalInfo.c-shopDisplay__additionalInfo--details,
.c-shopDisplay__additionalInfo.c-shopDisplay__additionalInfo--details  .c-shopDisplay__additionalInfo--details{
  display: block;
}

.c-shopDisplay__productOptions{
  display: none;
}

.c-shopDisplay__productOptions.c-shopDisplay__productOptions--select,
.c-shopDisplay__productOptions.c-shopDisplay__productOptions--select .c-shopDisplay__productOptions--select,
.c-shopDisplay__productOptions.c-shopDisplay__productOptions--listOfCards,
.c-shopDisplay__productOptions.c-shopDisplay__productOptions--listOfCards  .c-shopDisplay__productOptions--listOfCards,
.c-shopDisplay__productOptions.c-shopDisplay__productOptions--radios,
.c-shopDisplay__productOptions.c-shopDisplay__productOptions--radios  .c-shopDisplay__productOptions--radios,
.c-shopDisplay__productOptions.c-shopDisplay__productOptions--rowOfCards,
.c-shopDisplay__productOptions.c-shopDisplay__productOptions--rowOfCards  .c-shopDisplay__productOptions--rowOfCards{
  display: block;
}

.o-fieldset{
  border: 0 none transparent;
  padding: 0;
  margin: 0;
}

.c-shopDisplay__productOptions--select-font{
  font-size: 1em;
  width: 8em;
}

.c-shopDisplay__productOptions--listOfCards-grid{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 6em;
  grid-gap: 0.5em;
  width: auto;
  max-width: 100%;
  min-width: auto;
}

.o-label{
  display: block;
  font-weight: 600;
}

.u-hidden{
  display: none;
}

.form-questionHolder-inputStack--listOfCards{
  border-radius: 0.3em;
  width: 100%;
  max-width: 100%;
  min-width: auto;
}

.u-semibold{
  font-weight: 600
}

.u-halfPadding{
  padding: 0.5em;
}

.c-shopDisplay__productOptions--rowOfCards-grid{
  display: grid;
  grid-template-rows: repeat(4, 2em);
  grid-template-columns: max-content;
  grid-gap: 0.5em;
}

.c-shopDisplay__imagePos{
  display: none;
  background-color: #D0A1ED;
}

.c-shopDisplay__imagePos.c-shopDisplay__imagePos--right,
.c-shopDisplay__imagePos.c-shopDisplay__imagePos--left,
.c-shopDisplay__imagePos.c-shopDisplay__imagePos--bottom,
.c-shopDisplay__imagePos.c-shopDisplay__imagePos--top{
  display: flex;
  justify-content: center;
  align-items: center;
}

.c-shopDisplay__imagePos--right{
  grid-area: rightimage;
}

.c-shopDisplay__imagePos--left{
  grid-area: leftimage;
}

.c-shopDisplay__imagePos--bottom{
  grid-area: bottomimage;
}

.c-shopDisplay__imagePos--top{
  grid-area: topimage;
}

.c-shopDisplay__image{
  height: 8em;
  padding: 1em;
}

div[data-button="c-shopDisplay__buttons--top"], div[data-button="c-shopDisplay__buttons--middle"], div[data-button="c-shopDisplay__buttons--bottom"]{
  display: none;
}

.c-shopDisplay__buttons.c-shopDisplay__buttons--top div[data-button="c-shopDisplay__buttons--top"],
.c-shopDisplay__buttons.c-shopDisplay__buttons--middle div[data-button="c-shopDisplay__buttons--middle"],
.c-shopDisplay__buttons.c-shopDisplay__buttons--bottom div[data-button="c-shopDisplay__buttons--bottom"]{
  display: block;
}

.h-skipLink{
  position: absolute;
  left: -9999px;
  top: -9999px;
}

.h-skipLink:focus{
  position: relative;
  left: 0;
  top: 0;
  border: 1px solid red;
}

.o-button{
  padding: 0.75rem 1rem;
  border: 0 none transparent;
  font-size: 1rem;
  background-color: var(--selected-color);
  color: white;
  border-radius: 0.5rem;
}

.o-button--alt{
  background-color: transparent;
  color: #000085;
}

.o-button--alt:hover{
  cursor: pointer;
  background-color: transparent;
  color: #000057;
  text-decoration: underline;
}

.o-button--purple{
  background-color: #D0A1ED;
  color: #000000;
}

.o-button--purple:hover{
  background-color: #89699D;
  color: #000000;
}

.o-questionContainer{
  margin: auto auto auto 0rem;
  padding: 0 1em;
  width: 100%;
}

.o-buttonsHolder{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.h-rightAlign{
  display: block;
  margin: 0 0 0 auto;
}

.c-listOfCards__img{
  height: 3em;
}

.c-listOfCards__label{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #D0A1ED;
}

.c-rowOfCards__label{
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: #D0A1ED;
}

.c-rowOfCards__img{
  height: 1em;
  padding: 0 1em 0 0;
}

.o-shopButton{
  padding: 0.75em 1em;
  font-size: 1em;
  background-color: #89699D;
  border: transparent none 0;
  border-radius: 0.5rem;
  color: white;
  font-weight: 600;
}

.h-bold{
  font-weight: bold;
} 

.h-maxContent{
  width: max-content;
}

.h-mt--0{
  margin-top: 0;
}

.h-mb--0{
  margin-bottom: 0;
}

.h-text--large{
  font-size: 1.2rem;
}

.c-analyseSites{
  display: flex;
  flex-direction: row;
}

.c-analyseSites__site{
  width: 50%;
}

.c-share__input{
  padding: 0.75rem 1rem;
  font-size: 1rem;
  display: block;
  background-color: var(--label-background);
  color: var(--selected-color);
  font-weight: 600;
  border: 0.25rem solid var(--selected-color);
}

.c-clearOptionButton{
  max-height: 15rem;
  max-width: 15rem;
  margin: 1rem auto 0 0.5rem;
  padding: 0.75rem 0.5rem;
  font-size: 1rem;
  border: 0.2rem solid black;
  background-color: white;
}

.c-clearOptionButton:hover {
  background-color: grey;
  cursor: pointer;
}








@media only screen and (max-width: 70rem) {
  .l-page__grid {
    flex-direction: column-reverse;
  }

  .l-liveView{
    width: 100%;
  }

  .c-browser{
    height: 30rem;
  }

  .c-shopDisplay__addressBar{
    display: none;
  }

  .form-questionHolder{
    padding: 0;
  }

  .o-questionContainer{
    padding: 0;
  }

  form{
    margin-top: 1rem;
  }

  .c-analyseSites{
    display: flex;
    flex-direction: column;
  }
  
  .c-analyseSites__site{
    width: 100%;
  }

  .h-maxContent{
    width: 100%;
  }
}