:root {
  --main-background: #EEB04E;
  --label-background: white;
  --selected-color: blue;
}

* {
  box-sizing: border-box;
}

body {
  margin: 2vh;
  background-color: var(--main-background);
  background-image: url(./imgs/background-img.svg);
  background-size: 4rem;
}

form {
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
}

label{
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  border-radius: 0.5rem;
  font-size: 1.25rem;
  font-weight: 700;
  border: 0.2rem solid #C38728;
}

fieldset {
  display: grid;
  max-width: 80rem;
  grid-template-columns: repeat(auto-fit, minmax(18rem, 1fr));
  width: 100%;
  grid-gap: 1rem;
}

fieldset div {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
}

fieldset div input,
fieldset div label {
  grid-column: 1 / span 1;
  grid-row: 1 / span 1;
  background-color: var(--label-background);
}

fieldset div input:checked+label {
  background-color: var(--selected-color);
  color: white;
  border: 0 none;
}

fieldset div input:checked+label span:after {
  content: "✅";
  padding: 0 0 0 0.5rem;
}

fieldset div input:checked+label svg[class*="textsize"] path{
  fill: white;
}

fieldset label svg{
  margin: auto 0;
}

fieldset label span{
  margin: auto 0 0;
  padding: 1rem 0;
}

.hidden {
  display: none;
}


.card{
  height: 15rem;
}

.textsize-small{
  height: 2.5rem;
}

.textsize-medium{
  height: 3.75rem;
} 

.textsize-large{
  height: 5.625rem;
}  

.textsize-xlarge{
  height: 8.4rem;
}   